.conteiner {
    max-width: 1440px;
    width: 100%;
    background-color: #F4EEEE;
    margin: 0 auto;
    padding-top: 160px;
}

/* header */
header {
    max-width: inherit;
    width: inherit;
    height: 160px;
    padding-left: 80px;
    padding-right: 67.37px;
    background-color: #FFFFFF;
    border-radius: 0px 0px 50px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translatex(-50%);
    z-index: 3;
    border: #125806 5px solid;

}



.fa-bars {
    font-size: 42px;
    width: 60px;
    height: 46.75px;
    color: #125806;
}

/* section1 */
.section1 {
    width: 90%;
    height: 720px;
    margin: 90px auto 206px auto;
    position: relative;

}

.img_dog {
    width: 100%;
    height: 100%;
}

.text_dog {
    color: #FDF50E;
    font-weight: 700;
    font-size: 40px;
    line-height: 51.97px;
    text-align: center;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/*section2 */

.section2 {

    width: 90%;
    margin: 0 auto;
    margin-bottom: 112px;


}

h1 {
    font-size: 40px;
    color: #125806;
    font-weight: 700;
    margin-bottom: 74px;
}

.cards {

    width: 100%;


    height: 569px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.card {
    width: 30%;
    height: 271px;
}

.card-img {
    width: 100%;
    height: 100%;
}

/* footer */

footer {
    background-color: #FFFFFF;
    padding: 52px 73px 78px 82px;
    display: flex;
    justify-content: space-between;
    align-items: start;
}


h3{
    font-size: 20px;
    color: #000000;
    font-weight: 700;
    margin-bottom: 47px;
    
}

.contact{
    color: #413D3D;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    gap: 13px;


}
